<div class="contest">
    <h1>Н. Щеглов. Сказка о Жар-птице.</h1>

    <p>
        — Алло, не спишь?
        <br>— Сплю.
        <br>— Можешь приехать картошки пожарить?
        <br>— Кот. Ты звонишь в 6 утра, чтобы я тебе пожарила картошки?
        <br>— Да.
        <br>— Ты же картошку не ешь. Ты кот.
        <br>— Не ем. Но вот сейчас захотелось. Жареной. Приезжай, я уже дрова собрал. В углях запечем.
        <br>— В углях. Хорошо. Через полчаса буду.
        <br>Жар-Птица медленно встала с кровати и пошла умываться. «Странный все-таки этот Кот», — думала она,
        выдавливая пасту на щетку, — «но с ним весело. С детства дружим и каждый день весело».
        <br>Жар-Птица выглянула в окно. Утро было чудесным! Солнце так щедро освещало все вокруг, что казалось, будто
        все вокруг радостно светит ему в ответ.
        <br>Кот жил недалеко. По тропинке между соснами, потом на мостик через речку, через земляничную поляну, и вот
        уже виднеется старый дуб, под которым в маленьком деревянном доме живет Кот.
        <br>— Привет любителям жареной картошки, — сказала Жар-Птица. Кот сидел на лавочке перед домом и читал книгу.
        <br>— А ты быстро, — ответил Кот, отложив чтение, — вот, — он показал на ведерко розовой картошки, — и вот, —
        хвост Кота показал на дрова.
        <br>— А ты обычно с солью картошку ешь? — спросила Жар-Птица.
        <br>— Не знаю… — задумчиво ответил Кот, — я первый раз. Жги.
        <br>— Хорошо. Я соль взяла на всякий случай.
        <br>Жар-Птица подошла к дровам и привычно взмахнула хвостом. Ничего. Она взмахнула еще раз. Дрова не загорелись.
        <br>— Хм, — хмыкнул Кот, — кажется, у тебя жар пропал!
        <br>— Не может быть, — растерянно ответила Жар-Птица
        <br>— Точно пропал, — спокойно возразил Кот, — Теперь ты просто Птица. Без «Жар».
        <br>— И что теперь делать?
        <br>— Сейчас посмотрю в справочнике что делают просто Птицы, — сказал Кот, взял книгу и зашелестел страницами, —
        Так-так… просто птица… просто птица.. а. Вот! Птицы строят гнезда и поют.
        <br>— А можно не строить? — спросила Просто-Птица.
        <br>— Тогда пой, — ответил Кот, — Что-то же нужно делать, если теперь ты Просто-Птица.
        <br>— Хорошо, — сказала Просто-Птица.
        <br>Кот посмотрел на розовую картошку в ведерке, на кучку дров, потом зачем то поднял голову, и посмотрел на
        небо. Одно маленькое белое облачко быстро пронеслось между ветками старого дуба.
        <br>— Выступает Просто-Птица! — не опуская головы торжественно сказал Кот, — Песня!
        <br>Просто-Птица молчала.
        <br>Кот не спеша сел на лавочку.
        <br>Стало тихо. Как будто все листочки на деревьях и все травинки перед домом захотели послушать как поет
        Просто-Птица.
        <br>И она запела.
        <br>С первых же звуков Кот понял, что никогда в жизни не слышал такой красивой песни. Ему стало так уютно и
        хорошо, как на теплой печке зимой перед новым годом. Кот закрыл глаза и тихо замурчал от счастья. А птица все
        пела и пела, и все вокруг слушали ее.
    </p>
</div>
