<div class="contest">
    <h1>Положение
        о проведении конкурса детских иллюстраций произведения
        Н. Щеглова «Сказка о Жар-птице»</h1>

    <h4>1. ОБЩИЕ ПОЛОЖЕНИЯ</h4>

    <p>
        1.1 Организаторы и цели конкурса
        <br>1.1.1 Конкурс детского рисунка (далее – Конкурс) является частью социально значимого проекта – выставки
        детской иллюстрации в рамках фестиваля искусств «Яблочный Спас 2015», направленного на повышение интереса детей
        и молодежи к занятиям творчеством.
        <br>1.1.2 Организатором Конкурса является Ивановская региональная общественная организация поддержки актуального
        искусства «Событие» пос. Палех (далее – Организатор).
        <br>1.1.3 Организация и проведение Конкурса строится на принципах общедоступности, свободного развития личности
        и свободы творческого самовыражения участников Конкурса.
        <br>1.1.4 Конкурс проводится на территории Ивановской области в два этапа:
        <br>1 этап – июль-август 2015. Сбор работ.
        <br>2 этап – август 2015. Работа Жюри Конкурса и награждение победителей.
        <br>1.1.5 Цели конкурса
        <br>- Поддержка талантливых детей;
        <br>- Эстетическое воспитание детей;
        <br>- Вовлечение детей в занятие художественным творчеством;
        <br>1.1.6 Задачи Конкурса:
        <br>-Организация и проведение Конкурса детского рисунка;
        <br>-Организация работы квалифицированного жюри Конкурса для оценки работ участников Конкурса;
        <br>-Организация информационного обеспечения Конкурса;
        <br>1.2. Предмет и участники Конкурса
        <br>1.2.1. Предметом Конкурса являются детские иллюстрации к сказке Н. Щеглова «Сказка о Жар-птице».
        <br>1.2.2. Участниками Конкурса могут выступать дети в возрасте до 16 лет (далее – Участники).
        <br>1.2.3. На Конкурс принимаются изображения рисунков, выполненных на бумаге в любой технике, с использованием
        любых средств для рисования (карандаши, гуашь, фломастеры, тушь, акварель, мелки, пастель, цветные ручки и
        т.п.), форматами А2 и А3.
        <br>1.2.4. На Конкурс не принимаются работы, выполненные с применением программ для графического моделирования и
        дизайна.
        <br>1.2.5 Рисунки должны быть выполнены без помощи родителей и педагогов, и подписаны с обратной стороны:
        фамилия, имя, возраст конкурсанта, телефон и Ф.И.О. одного из родителей (законных представителей), адрес
        проживания.
        <br>1.2.6 Каждый Участник может представить на Конкурс не более трех Работ. Все последующие Работы к участию в
        Конкурсе не допускаются и не рассматриваются.
    </p>
    <br>

    <h4>2. НАГРАДЫ КОНКУРСА</h4>

    <p>
        2.1 В рамках Конкурса учреждаются следующие премии для победителей: Авторы 3 (трех) Работ, признанных решением
        Жюри Конкурса победителями, награждаются дипломами участника фестиваля искусств «Яблочный Спас 2015» и денежными
        призами в размере 1000 (одной тысяче) рублей за третье место, 2000 (двумя тысячами) рублей за второе место, и
        3000 (тремя тысячами) рублей за первое место.
    </p>
    <br>

    <h4>3. ПОРЯДОК, СРОКИ И МЕСТО ПОДАЧИ РАБОТ НА УЧАСТИЕ В КОНКУРСЕ</h4>

    <p>
        3.1 На Конкурс принимаются Работы, доставленные по адресу пос. Палех ул. Ленина, дом 33.
        <br>3.2 Работы Участников Конкурса должны поступить Организатору до 11 часов 59 минут 2 августа 2015 года
        включительно.
    </p>
    <br>

    <h4>4. ЖЮРИ КОНКУРСА</h4>

    <p>
        4.1. Организатор Конкурса образует и утверждает состав жюри Конкурса.
        <br>4.2. Жюри оценивает представленные Работы участников Конкурса и определяет победителей.
        <br>4.3. Результаты Конкурса оформляются протоколом, который подписывается членами Жюри.
    </p>
    <br>

    <h4>5. ПОРЯДОК И КРИТЕРИИ ВЫБОРА ПОБЕДИТЕЛЯ И ПРИЗЕРОВ КОНКУРСА</h4>

    <p>
        5.1. Критериями выбора Победителей Конкурса являются соответствие тематике и оригинальность исполнения Работ.
    </p>
    <br>

    <h4>6. ПОДВЕДЕНИЕ ИТОГОВ КОНКУРСА</h4>

    <p>
        6.1. Итоги Конкурса должны быть подведены и объявлены 16 августа 2015 года.
    </p>
    <br>
</div>
