<img class="animal"/>
<div class="dashes"></div>
<p class="copyright">
    <small>
        <span class="white-text">© 2008 — 2015</span>
        <br>
        <span>Международный фестиваль Яблочный Спас 2015</span>
    </small>
</p>
<p class="author">
    <small>
        <span>Сайт сделали </span><a href="http://usehotkey.github.io/">Он</a><span> и </span><a href="http://framebassman.github.io/">Тот ещё</a>
        <br>
        <span>При поддержке <a href="http://kurkin.net">Его</a> и <a href="https://www.behance.net/makkaronina">Её</a></span>
    </small>
</p>
<p></p>
