@import "~assets/styles/variables";

:host {
   position: absolute;
   top: 0;
   left: $padding2;
   width: $logoWidth;

   h1 {
      margin: 0 0 0.33em 0;
   }

   .container {
      background: $yellow;
      padding: $padding1 $padding2 0;
      line-height: $padding3;
      letter-spacing: 1pt;
   }

   #triangle-topleft {
      width: 0;
      height: 0;
      border-top: $logoWidth / 5 solid $yellow;
      border-right: $logoWidth solid transparent;
   }
}

@media only screen and (max-width: $maxWidth) {
   :host {
      .container, #triangle-topleft {
         display: none;
      }
   }
}