<div class="contacts">
    <h2>пишите и звоните нам:</h2>

    <ul>
        <li>jenya.palekh@gmail.com</li>
        <li><a target="_blank" href="http://vk.com/jenyapalekh">Женя Лакеев</a></li>
        <li>+7 (915) 838 0343</li>
    </ul>
    <h2>яблочный спас в социальных сетях:</h2>
    <a class="button" target="_blank" href="http://vk.com/palekhfest"><span class="icon-vk"></span></a>
    <a class="button" target="_blank" href="http://instagram.com/applefeast2015/"><span
            class="icon-instagram"></span></a>
    <a class="button" target="_blank"
       href="https://www.facebook.com/pages/%D0%AF%D0%B1%D0%BB%D0%BE%D1%87%D0%BD%D1%8B%D0%B9-%D0%A1%D0%BF%D0%B0%D1%81-2015-Apple-Feast-2015/128189243916479">
        <span class="icon-facebook"></span></a>
</div>
