<script type="text/javascript">

    ymaps.ready(function init() {
        console.log(123);
        var myMap = new ymaps.Map("map", {
            center: [56.80259142, 41.85475548],
            zoom: 7
        });

        var palekh = new ymaps.Placemark([56.80259142, 41.85475548], {
            content: 'Палех',
            balloonContent: 'Палех'
        });


        myMap.controls.add(
            new ymaps.control.ZoomControl()
        );

        myMap.geoObjects.add(palekh);
    });

</script>

<div class="guide center-text">
    <div class="guide-section">
        <h2 class="header-yellow-border">путеводитель по фестивалю</h2>
        <a class="button" target="_self" href="/pdf/guide.pdf" download="Путеводитель фестиваля Яблочный Спас.pdf">скачать
            путеводитель <span class="icon-download"></span></a>
    </div>

    <div class="guide-section">
        <h2 class="header-yellow-border">где остановиться</h2>
        <a target="_blank" href="http://www.palekh-tour.ru/">Гостевой дом "Ковчег"</a>
    </div>

    <div class="guide-section">
        <h2 class="header-yellow-border">как добраться</h2>

        <h3>Из Иваново</h3>

        <p><b>На машине</b> по трассе Р152 по направлению на Нижний Новгород.</p>

        <p><b>На автобусе</b> с главного автовокзала.</p>
        <br>

        <h3>Из Нижнего Новгорода</h3>

        <p><b>На машине</b> по трассе Р152 по направлению на Иваново.</p>

        <p><b>На автобусе</b> с Канавинского автовокзала.</p>
        <br>

        <div id="map" style="height: 600px;"></div>
    </div>
</div>


