<div class="participants">
    <div ng-repeat="part in participants">
        <h1 class="center-text type" ng-bind="part.type"></h1>

        <div class="persons">
            <div ng-repeat="person in part.persons" class="person">
                <div class="person-image" ng-style="{'background-image':imageLink(person) }" toggle-class="active">
                    <div class="yellow-bg"></div>
                    <div class="person-info">
                        <h1 ng-bind="person.name"></h1>
                        <h2 ng-bind="person.city"></h2>
                        <a href="{{person.link}}" target="_blank" rel="noopener noreferrer" class="person-link">
                            <span class="icon-linkto"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

