@import "../assets/styles/variables";

:host {
    position: relative;

    display: flex;
    flex-direction: column;

    min-height: 100vh;
    min-width: $minWidth;
}

app-navigation {
    min-width: $minWidth;
    z-index: 3;
}

.content {
    flex: 1;
    z-index: 1;
    
    padding-top: $navHeight;
    padding-bottom: $footerDashes;
    padding-left: $logoWidth + $padding3*2;
    padding-right: 10%;
    
    p {
        line-height: 1.7em;
    }
}

app-footer {
    z-index: 2;
    width: 100%;
}

@media only screen and (max-width: $maxWidth) {
    .content {
        padding-top: $navHeightMin;
        padding-left: 10%;
        padding-bottom: $padding3;
    }
}