<div class="logo">
    <div class="container">
        <small class="white-text">фестиваль искусств в палехе</small>
        <br>
        <b><a href="#/" ng-click="navigation.setPage(0)">яблочный<br>спас</a></b>

        <div class="white-line"></div>
        <b><span class="white-text">2015</span></b>
    </div>
    <div id="triangle-topleft"></div>
</div>
<nav>
    <a ng-class="{ current:navigation.isSet(1) }" href="#/program" ng-click="navigation.setPage(1)">программа /</a>
    <a ng-class="{ current:navigation.isSet(2) }" href="#/guide" ng-click="navigation.setPage(2)">путеводитель /</a>
    <a ng-class="{ current:navigation.isSet(4) }" href="#/palekh" ng-click="navigation.setPage(4)">палех /</a>
    <a ng-class="{ current:navigation.isSet(5) }" href="#/contest" ng-click="navigation.setPage(5)">конкурс /</a>
    <a ng-class="{ current:navigation.isSet(6) }" href="#/partners" ng-click="navigation.setPage(6)">партнеры /</a>
    <a ng-class="{ current:navigation.isSet(7) }" href="#/contacts" ng-click="navigation.setPage(7)">контакты /</a>
</nav>
