<div class="logo">
    <div class="container">
        <small class="white-text">фестиваль искусств в палехе</small>
        <br>
        <b><a href="#/" ng-click="navigation.setPage(0)">яблочный<br>спас</a></b>

        <div class="white-line"></div>
        <b><span class="white-text">2015</span></b>
    </div>
    <div id="triangle-topleft"></div>
</div>
<nav>
    <a ng-class="{ current:navigation.isSet(1) }" href="#/program" ng-click="navigation.setPage(1)">Программа</a>
    <a ng-class="{ current:navigation.isSet(2) }" href="#/guide" ng-click="navigation.setPage(2)">Путеводитель</a>
    <a ng-class="{ current:navigation.isSet(3) }" href="#/contacts" ng-click="navigation.setPage(3)">Контакты</a>
</nav>
