.contacts {
    ul {
        list-style-type: none;
        line-height: 2em;
    }

    .button {
        width: 28px;
        height: 28px;
        font-size: 1.4em;
    }
}

.program {
  text-align: center;
    .days {
        text-align: left;
      margin-bottom: $padding2;
    }
}
