body {
    h2 {
        margin: 0.33em 0;
    }
    h2, h4 {
        color: $yellow;
    }
    h3 {
        background: $yellow;
        padding: $paddingMin;
        display: inline-block;
    }
}

.button {
    display: inline-block;
    color: $black;
    border: $border / 2 solid $black;
    padding: $padding1;
    text-align: center;
    margin-right: $paddingMin;
    margin-bottom: $padding1;

    .icon-instagram {
        padding-left: 4px;
    }

    &:hover {
        border-color: $yellow;
    }

    &:active {
        border-color: $white;
    }
}

.light-text {
    font-weight: lighter;
}

.white-text {
    color: $white;
}

.black-text {
    color: $black;
}

.yellow-text {
    color: $yellow;
}

.inline {
    display: inline-block;
    margin-right: $padding1;
}

.center-text {
    text-align: center;
}
