footer {
  background: $yellow;
    padding: $padding2 $padding3;
  apple-footer {
    display: inline-block;
    width: 100%;
    height: 100%;

    .copyright {
      float: left;
    }

    .author {
      float: right;
      a {
        color: $white;
      }
    }
  }
}
