footer {
  background: $yellow;
  apple-footer {
    display: block;
    padding: $padding2 $padding3;
    .copyright {
      float: left;
    }

    .author {
      float: right;
      a {
        color: $white;
      }
    }
    }
}
