* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.wrapper {
    font-family: 'Fira Sans', Arial, sans-serif;
    min-height: 100%;
    position: relative;
}

.content {
    padding-top: $navHeight;
    padding-bottom: $footerHeight + $padding2*3;
    padding-left: $logoShift + $logoWidth;
}

footer {
    width: 100%;
    height: $footerHeight + $padding2*2;
    position: absolute;
    bottom: 0;
}
