* {
    margin: 0;
    padding: 0;
}

html,
body,
.wrapper {
    font-family: 'Fira Sans', Arial, sans-serif;
    height: 100%;
}

.content {
    box-sizing: border-box;
    min-height: 100%;
    margin-top: $navHeight;
    padding-bottom: $footerHeight;
}

footer {
    height: $footerHeight;
    margin-top: -$footerHeight;
}
