.main {
    padding-top: 100vh;
}

.organisation {
    margin-top: $padding3;
    h2 {
        padding: 0.33em 0;
        border-top: $border / 2 solid $yellow;
        border-bottom: $border / 2 solid $yellow;
        margin-bottom: $padding2;
    }
    border-bottom: $border / 2 solid $yellow;
    margin-bottom: $padding3;

    .partners {
        .partner {
            width: 45%;
            margin-bottom: $padding2;
            vertical-align: top;
            .partner-picture-wrap {
                display: inline-block;
                width: $partnerPic;
                height: $partnerPic*0.8;
                line-height: $partnerPic*0.8;
            }
            .partner-picture {
                display: inline-block;
                vertical-align: baseline;
                width: 100%;
            }
        }
    }
}

.intro {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100vh;
    background: $yellow;
    .main-bg {
        position: absolute;
        left: 5%;
        top: 50%;
        transform: translateY(-50%);
        height: 20vw;
        width: 50vw;
        content: url("../img/main-bg.png");
    }

    .main-title {
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translateY(-50%);

        h1 {
            margin: 0;
            text-align: center;
            font-size: 6vw;
            line-height: 6vw;
        }
    }
}

@media only screen and (max-width: $maxWidth) {
    .organisation {
        .partners {
            .partner {
                width: 90%;
            }
        }
    }

    .main-bg { content: url("../img/main-bg-min.png") !important; }
}
