.participants {
    .type {
        padding: $padding2 0;
        border-top: $black solid $border / 2;
        border-bottom: $black solid $border / 2;
    }
  .persons {
    display: inline-block;
    width: 100%;
    .person-image:hover,
    .person-image.active{
      .person-info { opacity: 1; }
      .yellow-bg {
        position: absolute; top: 0; left: 0;
        border-radius: 50%;
        width: 100%; height: 100%;
        background-color: $yellow;
        opacity: 0.7;
      }
    }

    .person {
      position: relative;
      width: 30%;
      height: 100%;
      vertical-align: top;
      display: inline-block;
      padding: 1.5%;

      h1 { font-size: 2vw; }
      h2 { font-size: 1.3vw; opacity: 0.4; color: $black; }

      .person-image {
        position: relative;
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 50%;
        width: 100%;
        padding-top: 100%;
      }

      .person-info {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-35%);
        text-align: center;
        opacity: 0;
        .person-link {
          font-size: 1.5em;
        }
      }
    }
  }
}

@media only screen and (max-width: $maxWidth) {
  .participants {
    .persons {
      .person {
        width: 45%;
        h1 { font-size: 3.5vw; }
        h2 { font-size: 2vw; }
      }
    }
  }
}
