.participants {
    .type {
        padding: $padding2 0;
        border-top: $black solid $border / 2;
        border-bottom: $black solid $border / 2;
    }
  .persons {
    display: inline-block;
    width: 100%;
    text-align: center;
    .person {
      width: 25%;
      height: 100%;
      vertical-align: top;
      display: inline-block;
      padding: 4%;

      h1 {
        line-height: 1em;
        font-size: 2vw;
      }

      .person-image {
        position: relative;
                background-color: $black;
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 50%;
        width: 100%;
        padding-top: 100%;
            }

      &:nth-child(even) {
        .person-image {
          background-color: $yellow;
        }

        h1 {
          color: $yellow;

        }

            }
    }
    }
}

@media only screen and (max-width: $maxWidth) {
  .participants {
    .persons {
      .person {
        width: 40%;
        padding: 4%;
        h1 {
          font-size: 4vw;
        }
      }
        }
    }
}
