$black: #000;
$white: #fff;
$yellow: #ffe110;
$yellowGrey: #e6da85;

$paddingMin: 4px;
$padding1: 10px;
$padding2: 20px;
$padding3: 30px;
$border: 4px;

$logoWidth: 300px;
$navHeight: 80px;
$footerHeight: 60px;
