<div class="program center-text">
    <div class="days" ng-repeat="day in program.days">
        <h2 ng-bind="day.date"></h2>

        <h1 ng-bind="day.name"></h1>

        <div ng-repeat="event in day.events">
            <p>
                <b ng-bind="event.time"></b>
                <span ng-bind="event.name"></span>
            </p>
        </div>
    </div>
    <a class="button" target="_self" href="/pdf/program.pdf" download="Программа фестиваля Яблочный Спас.pdf">скачать
        программу <span
                class="icon-download"></span></a>
</div>
